# Gitignore for boards

# Altera Quartus with Qsys
## Dirs
.qsys_edit/
db/
/**/quartus/*/*
incremental_db/
## Files
*.bak
*.bsf
*.chg
*.cmp
*.done
*.html
*.jdi
*.pin
*.qws
*.rpt
*.smsg
*.sof
*.rbf
*.sopcinfo
*.summary
*.pof
*.txt
*.csv

# Xilinx Platform Studio
## Dirs
__xps/
bootloops/
hdl/
implementation/
pcores/
SDK/
synthesis/
## Files
*.log
*.opt
*.make
*.filters
*.gui
*.xdc
*.ucf
