#
# pin constraints
#
#NET CDCE913_SCL LOC = "P12"  |  IOSTANDARD = "LVCMOS33"  |  PULLUP;
#NET CDCE913_SDA LOC = "U13"  |  IOSTANDARD = "LVCMOS33"  |  PULLUP;
NET CLK_66MHZ LOC = "K15"  |  IOSTANDARD = "LVCMOS33";
NET DIP_Switches_4Bits_TRI_I[0] LOC = "B3"  |  IOSTANDARD = "LVCMOS33"  |  PULLDOWN;
NET DIP_Switches_4Bits_TRI_I[1] LOC = "A3"  |  IOSTANDARD = "LVCMOS33"  |  PULLDOWN;
NET DIP_Switches_4Bits_TRI_I[2] LOC = "B4"  |  IOSTANDARD = "LVCMOS33"  |  PULLDOWN;
NET DIP_Switches_4Bits_TRI_I[3] LOC = "A4"  |  IOSTANDARD = "LVCMOS33"  |  PULLDOWN;
NET RESET LOC = "V4"  |  IOSTANDARD = "LVCMOS33"  |  TIG  |  PULLDOWN;
NET SPI_FLASH_HOLDn LOC = "V14"  |  IOSTANDARD = "LVCMOS33";
NET SPI_FLASH_MISO LOC = "R13"  |  IOSTANDARD = "LVCMOS33";
NET SPI_FLASH_MOSI LOC = "T13"  |  IOSTANDARD = "LVCMOS33";
NET SPI_FLASH_SCLK LOC = "R15"  |  IOSTANDARD = "LVCMOS33";
NET SPI_FLASH_SS LOC = "V3"  |  IOSTANDARD = "LVCMOS33";
NET SPI_FLASH_Wn LOC = "T14"  |  IOSTANDARD = "LVCMOS33";
NET axi_uartlite_0_RX_pin LOC = "R7"  |  IOSTANDARD = "LVCMOS33";
NET axi_uartlite_0_TX_pin LOC = "T7"  |  IOSTANDARD = "LVCMOS33";
#
# additional constraints
#

NET "CLK_66MHZ" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 66666 kHz;

### Set Vccaux for S6LX9 MicroBoard to 3.3V ###
CONFIG VCCAUX = "3.3" ;

################################################################################
# POWERLINK IP-Core
## PHY 0
NET axi_powerlink_0_phyMii0_TxClk_pin LOC = H17 | IOSTANDARD = LVCMOS33; 
NET axi_powerlink_0_phyMii0_TxEn_pin LOC = L17 | IOSTANDARD = LVCMOS33;
NET axi_powerlink_0_phyMii0_TxDat_pin<3> LOC = J16 | IOSTANDARD = LVCMOS33;
NET axi_powerlink_0_phyMii0_TxDat_pin<2> LOC = J18 | IOSTANDARD = LVCMOS33;
NET axi_powerlink_0_phyMii0_TxDat_pin<1> LOC = K17 | IOSTANDARD = LVCMOS33;
NET axi_powerlink_0_phyMii0_TxDat_pin<0> LOC = K18 | IOSTANDARD = LVCMOS33;
NET axi_powerlink_0_phyMii0_RxClk_pin LOC = L15 | IOSTANDARD = LVCMOS33;
NET axi_powerlink_0_phyMii0_RxDv_pin LOC = P17 | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET axi_powerlink_0_phyMii0_RxDat_pin<3> LOC = P18 | IOSTANDARD = LVCMOS33 | PULLUP;
NET axi_powerlink_0_phyMii0_RxDat_pin<2> LOC = N15 | IOSTANDARD = LVCMOS33 | PULLUP;
NET axi_powerlink_0_phyMii0_RxDat_pin<1> LOC = N16 | IOSTANDARD = LVCMOS33 | PULLUP;
NET axi_powerlink_0_phyMii0_RxDat_pin<0> LOC = T17 | IOSTANDARD = LVCMOS33 | PULLUP;
NET axi_powerlink_0_phyMii0_RxEr_pin LOC = N18 | IOSTANDARD = LVCMOS33;
NET axi_powerlink_0_phy_SMIDat_pin LOC = L18 | IOSTANDARD = LVCMOS33;
NET axi_powerlink_0_phy_SMIClk_pin LOC = M16 | IOSTANDARD = LVCMOS33;
NET axi_powerlink_0_phy_Rst_n_pin LOC = T18 | IOSTANDARD = LVCMOS33 | TIG;

################################################################################
## DIRECT I/O
#LED output
Net axi_powerlink_0_pio_portio_pin<0> LOC=P4 | IOSTANDARD = LVCMOS18 | TIG;
Net axi_powerlink_0_pio_portio_pin<1> LOC=L6 | IOSTANDARD = LVCMOS18 | TIG;
Net axi_powerlink_0_pio_portio_pin<2> LOC=F5 | IOSTANDARD = LVCMOS18 | TIG;
Net axi_powerlink_0_pio_portio_pin<3> LOC=C2 | IOSTANDARD = LVCMOS18 | TIG;

### Connector J5
NET axi_powerlink_0_pio_portio_pin<8> LOC = F15 | IOSTANDARD = LVCMOS33 | TIG; # "PMOD1_P1"
NET axi_powerlink_0_pio_portio_pin<9> LOC = F16 | IOSTANDARD = LVCMOS33 | TIG; # "PMOD1_P2"
NET axi_powerlink_0_pio_portio_pin<10> LOC = C17 | IOSTANDARD = LVCMOS33 | TIG; # "PMOD1_P3"
NET axi_powerlink_0_pio_portio_pin<11> LOC = C18 | IOSTANDARD = LVCMOS33 | TIG; # "PMOD1_P4"
NET axi_powerlink_0_pio_portio_pin<12> LOC = F14 | IOSTANDARD = LVCMOS33 | TIG; # "PMOD1_P7"
NET axi_powerlink_0_pio_portio_pin<13> LOC = G14 | IOSTANDARD = LVCMOS33 | TIG; # "PMOD1_P8"
NET axi_powerlink_0_pio_portio_pin<14> LOC = D17 | IOSTANDARD = LVCMOS33 | TIG; # "PMOD1_P9"
NET axi_powerlink_0_pio_portio_pin<15> LOC = D18 | IOSTANDARD = LVCMOS33 | TIG; # "PMOD1_P10"
### Connector J4
NET axi_powerlink_0_pio_portio_pin<16> LOC = H12 | IOSTANDARD = LVCMOS33 | TIG; # "PMOD2_P1"
NET axi_powerlink_0_pio_portio_pin<17> LOC = G13 | IOSTANDARD = LVCMOS33 | TIG; # "PMOD2_P2"
NET axi_powerlink_0_pio_portio_pin<18> LOC = E16 | IOSTANDARD = LVCMOS33 | TIG; # "PMOD2_P3"
NET axi_powerlink_0_pio_portio_pin<19> LOC = E18 | IOSTANDARD = LVCMOS33 | TIG; # "PMOD2_P4"
NET axi_powerlink_0_pio_portio_pin<20> LOC = K12 | IOSTANDARD = LVCMOS33 | TIG; # "PMOD2_P7"
NET axi_powerlink_0_pio_portio_pin<21> LOC = K13 | IOSTANDARD = LVCMOS33 | TIG; # "PMOD2_P8"
NET axi_powerlink_0_pio_portio_pin<22> LOC = F17 | IOSTANDARD = LVCMOS33 | TIG; # "PMOD2_P9"
NET axi_powerlink_0_pio_portio_pin<23> LOC = F18 | IOSTANDARD = LVCMOS33 | TIG; # "PMOD2_P10"

## DIRECT I/O
################################################################################

################################################################################
# TIMING CONSTRAINTS
## Clock groups
### PLB and MAC clock
NET "clk_100_0000MHzPLL1" TNM = "PLB_CLK_GRP";
NET "clk_50_0000MHzPLL1" TNM = "MAC_CLK_GRP";

### PHY0 clock
NET "axi_powerlink_0_phyMii0_RxClk_pin" TNM_NET = "PHY0_RXCLK_GRP";
TIMESPEC "TS_RXCLK" = PERIOD "PHY0_RXCLK_GRP" 40 ns HIGH 20 ns;
NET "axi_powerlink_0_phyMii0_TxClk_pin" TNM_NET = "PHY0_TXCLK_GRP";
TIMESPEC "TS_TXCLK" = PERIOD "PHY0_TXCLK_GRP" 40 ns HIGH 20 ns;

#### ICAP clock
NET "clk_4_0000MHz" TNM = "ICAP_CLK_GRP";

### cut path
#### PLB <--> ICAP
TIMESPEC TS_PLB_ICAP_TIG = FROM "PLB_CLK_GRP" TO "ICAP_CLK_GRP" TIG;
TIMESPEC TS_ICAP_PLB_TIG = FROM "ICAP_CLK_GRP" TO "PLB_CLK_GRP" TIG;

### PLB <--> MAC
TIMESPEC TS_PLB_MAC_TIG = FROM "PLB_CLK_GRP" TO "MAC_CLK_GRP" TIG;
TIMESPEC TS_MAC_PLB_TIG = FROM "MAC_CLK_GRP" TO "PLB_CLK_GRP" TIG;

### MAC <--> PHY0
TIMESPEC TS_PLB_PHY0TX_TIG = FROM "MAC_CLK_GRP" TO "PHY0_TXCLK_GRP" TIG;
TIMESPEC TS_PHY0TX_PLB_TIG = FROM "PHY0_TXCLK_GRP" TO "MAC_CLK_GRP" TIG;
TIMESPEC TS_PLB_PHY0RX_TIG = FROM "MAC_CLK_GRP" TO "PHY0_RXCLK_GRP" TIG;
TIMESPEC TS_PHY0RX_PLB_TIG = FROM "PHY0_RXCLK_GRP" TO "MAC_CLK_GRP" TIG;

## I/O
### PHY0
#### T = 40 ns , tco = 10..30 ns => valid window of 10 ns before/after edge
OFFSET = IN 10 ns VALID 10 ns BEFORE "axi_powerlink_0_phyMii0_RxClk_pin";
#### T = 40 ns , tsu = 10 ns , th = 0 => T-tsu ns after edge
OFFSET = OUT 30 ns AFTER "axi_powerlink_0_phyMii0_TxClk_pin";
################################################################################

