db
incremental_db
.sopc_builder
niosII_openMac_sim
niosII_openMac_generation_script
*.pre_generation_ptf
*.done
*.qarlog
*.qar
*.rpt
*.summary
timing
*.cmp
*.dpf
*.eqn
*.html
*.pin
*.ppf
*.bak
*.txt
*.qws
*.pof
*.jdi
*.ptf.8.0
*temp.vhd
*.smsg
*.cdf
*.jam
OpenMAC_0.vhd
clock_crossing_0.vhd
cpu_0*
*_pio.vhd
*_timer.vhd
epcs_flash_controller_0*
nodeswitch_spi.vhd
jtag_uart_0.vhd
niosII_openMac.vhd
niosII_openMac_clock_0.vhd
niosII_openMac_inst.vhd
onchip_memory_0.*
sopc_add_qip_file.tcl

