[project]
	description = Release 2 of the openPOWERLINK protocol stack
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Josef (jbaumgar)
[access "refs/for/refs/*"]
	read = group user/Josef (jbaumgar)
	push = group user/Josef (jbaumgar)
	label-Code-Review = -2..+2 group user/Josef (jbaumgar)
	label-Verified = -1..+1 group user/Josef (jbaumgar)
	rebase = group user/Josef (jbaumgar)
	removeReviewer = group user/Josef (jbaumgar)
	submit = group user/Josef (jbaumgar)
[access "refs/heads/*"]
	read = group user/Josef (jbaumgar)
	create = group user/Josef (jbaumgar)
	push = +force group user/Josef (jbaumgar)
	pushMerge = group user/Josef (jbaumgar)
[access "refs/tags/*"]
	push = +force group user/Josef (jbaumgar)
	pushTag = group user/Josef (jbaumgar)
	pushSignedTag = group user/Josef (jbaumgar)
