# for easy startup, we allow others to access the openPOWERLINK driver
SUBSYSTEM=="plk", KERNEL=="plk", NAME="plk", OWNER="root", GROUP="root", MODE="0666"

# for production, you should create a special group, where the user
# which runs the application belongs to.
#SUBSYSTEM=="plk", KERNEL=="plk", NAME="plk", OWNER="root", GROUP="plk", MODE="0660"

# hack to adjust the priority of the IRQ thread after the openPOWERLINK stack has been initialized
SUBSYSTEM=="net", KERNEL=="plk", ACTION=="add", RUN+="PLKLOAD_PATH/plkload -s"
