#  Avnet Spartan-6 LX9 MicroBoard
Net fpga_0_USB_UART_RX_pin LOC=R7 | IOSTANDARD = LVCMOS33;
Net fpga_0_USB_UART_TX_pin LOC=T7 | IOSTANDARD = LVCMOS33;

Net fpga_0_Node_Switches_GPIO_IO_I_pin<0> LOC=B3 | IOSTANDARD = LVCMOS33 | PULLDOWN;
Net fpga_0_Node_Switches_GPIO_IO_I_pin<1> LOC=A3 | IOSTANDARD = LVCMOS33 | PULLDOWN;
Net fpga_0_Node_Switches_GPIO_IO_I_pin<2> LOC=B4 | IOSTANDARD = LVCMOS33 | PULLDOWN;
Net fpga_0_Node_Switches_GPIO_IO_I_pin<3> LOC=A4 | IOSTANDARD = LVCMOS33 | PULLDOWN;

Net fpga_0_SPI_FLASH_SCK_pin LOC=R15 | IOSTANDARD = LVCMOS33;
Net fpga_0_SPI_FLASH_MISO_pin LOC=R13 | IOSTANDARD = LVCMOS33;
Net fpga_0_SPI_FLASH_MOSI_pin LOC=T13 | IOSTANDARD = LVCMOS33;
Net fpga_0_SPI_FLASH_SS_pin LOC=V3  | IOSTANDARD = LVCMOS33;
Net fpga_0_SPI_FLASH_SPI_HOLDn_pin LOC=V14  | IOSTANDARD = LVCMOS33;
Net fpga_0_SPI_FLASH_SPI_Wn_pin LOC=T14  | IOSTANDARD = LVCMOS33;

Net fpga_0_clk_1_sys_clk_pin TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 66666.7 kHz;
Net fpga_0_clk_1_sys_clk_pin TNM_NET = sys_clk_pin  |  LOC=K15 | IOSTANDARD = LVCMOS33;
Net fpga_0_rst_1_sys_rst_pin TIG;
Net fpga_0_rst_1_sys_rst_pin LOC=V4 | IOSTANDARD = LVCMOS33 | PULLDOWN;

###### microblaze_0
### Set Vccaux for S6LX9 MicroBoard to 3.3V ###
CONFIG VCCAUX = "3.3" ;

##copied from optimised system
CONFIG MCB_PERFORMANCE= STANDARD;
# Addresses
NET fpga_0_MCB3_LPDDR_mcbx_dram_addr_pin<0>          LOC = J7  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_A0"
NET fpga_0_MCB3_LPDDR_mcbx_dram_addr_pin<1>          LOC = J6  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_A1"
NET fpga_0_MCB3_LPDDR_mcbx_dram_addr_pin<2>          LOC = H5  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_A2"
NET fpga_0_MCB3_LPDDR_mcbx_dram_addr_pin<3>          LOC = L7  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_A3"
NET fpga_0_MCB3_LPDDR_mcbx_dram_addr_pin<4>          LOC = F3  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_A4"
NET fpga_0_MCB3_LPDDR_mcbx_dram_addr_pin<5>          LOC = H4  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_A5"
NET fpga_0_MCB3_LPDDR_mcbx_dram_addr_pin<6>          LOC = H3  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_A6"
NET fpga_0_MCB3_LPDDR_mcbx_dram_addr_pin<7>          LOC = H6  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_A7"
NET fpga_0_MCB3_LPDDR_mcbx_dram_addr_pin<8>          LOC = D2  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_A8"
NET fpga_0_MCB3_LPDDR_mcbx_dram_addr_pin<9>          LOC = D1  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_A9"
NET fpga_0_MCB3_LPDDR_mcbx_dram_addr_pin<10>         LOC = F4  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_A10"
NET fpga_0_MCB3_LPDDR_mcbx_dram_addr_pin<11>         LOC = D3  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_A11"
NET fpga_0_MCB3_LPDDR_mcbx_dram_addr_pin<12>         LOC = G6  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_A12"
NET fpga_0_MCB3_LPDDR_mcbx_dram_ba_pin<0>         LOC = F2  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_BA0"
NET fpga_0_MCB3_LPDDR_mcbx_dram_ba_pin<1>         LOC = F1  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_BA1"
# Data                                                                  
NET fpga_0_MCB3_LPDDR_mcbx_dram_dq_pin<0>         LOC = L2  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_DQ0"
NET fpga_0_MCB3_LPDDR_mcbx_dram_dq_pin<1>         LOC = L1  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_DQ1"
NET fpga_0_MCB3_LPDDR_mcbx_dram_dq_pin<2>         LOC = K2  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_DQ2"
NET fpga_0_MCB3_LPDDR_mcbx_dram_dq_pin<3>         LOC = K1  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_DQ3"
NET fpga_0_MCB3_LPDDR_mcbx_dram_dq_pin<4>         LOC = H2  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_DQ4"
NET fpga_0_MCB3_LPDDR_mcbx_dram_dq_pin<5>         LOC = H1  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_DQ5"
NET fpga_0_MCB3_LPDDR_mcbx_dram_dq_pin<6>         LOC = J3  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_DQ6"
NET fpga_0_MCB3_LPDDR_mcbx_dram_dq_pin<7>         LOC = J1  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_DQ7"
NET fpga_0_MCB3_LPDDR_mcbx_dram_dq_pin<8>         LOC = M3  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_DQ8"
NET fpga_0_MCB3_LPDDR_mcbx_dram_dq_pin<9>         LOC = M1  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_DQ9"
NET fpga_0_MCB3_LPDDR_mcbx_dram_dq_pin<10>        LOC = N2  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_DQ10"
NET fpga_0_MCB3_LPDDR_mcbx_dram_dq_pin<11>        LOC = N1  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_DQ11"
NET fpga_0_MCB3_LPDDR_mcbx_dram_dq_pin<12>        LOC = T2  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_DQ12"
NET fpga_0_MCB3_LPDDR_mcbx_dram_dq_pin<13>        LOC = T1  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_DQ13"
NET fpga_0_MCB3_LPDDR_mcbx_dram_dq_pin<14>        LOC = U2  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_DQ14"
NET fpga_0_MCB3_LPDDR_mcbx_dram_dq_pin<15>        LOC = U1  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_DQ15"
NET fpga_0_MCB3_LPDDR_mcbx_dram_ldm_pin         LOC = K3  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_LDM"
NET fpga_0_MCB3_LPDDR_mcbx_dram_udm_pin         LOC = K4  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_UDM"
NET fpga_0_MCB3_LPDDR_mcbx_dram_dqs_pin        LOC = L4  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_LDQS"
NET fpga_0_MCB3_LPDDR_mcbx_dram_udqs_pin        LOC = P2  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_UDQS"
# Clock
NET fpga_0_MCB3_LPDDR_mcbx_dram_clk_n_pin        LOC = G1  | IOSTANDARD = DIFF_MOBILE_DDR;        # "LPDDR_CK_N"
NET fpga_0_MCB3_LPDDR_mcbx_dram_clk_pin        LOC = G3  | IOSTANDARD = DIFF_MOBILE_DDR;        # "LPDDR_CK_P"
NET fpga_0_MCB3_LPDDR_mcbx_dram_cke_pin         LOC = H7  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_CKE"
# Control
NET fpga_0_MCB3_LPDDR_mcbx_dram_cas_n_pin       LOC = K5  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_CAS#"
NET fpga_0_MCB3_LPDDR_mcbx_dram_ras_n_pin       LOC = L5  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_RAS#"
NET fpga_0_MCB3_LPDDR_mcbx_dram_we_n_pin        LOC = E3  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_WE#"
NET fpga_0_MCB3_LPDDR_rzq_pin         LOC = N4  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_RZQ"

################################################################################
# POWERLINK IP-Core
## PHY 0
NET plb_powerlink_0_phyMii0_TxClk_pin LOC = H17 | IOSTANDARD = LVCMOS33; 
NET plb_powerlink_0_phyMii0_TxEn_pin LOC = L17 | IOSTANDARD = LVCMOS33;
NET plb_powerlink_0_phyMii0_TxDat_pin<3> LOC = J16 | IOSTANDARD = LVCMOS33;
NET plb_powerlink_0_phyMii0_TxDat_pin<2> LOC = J18 | IOSTANDARD = LVCMOS33;
NET plb_powerlink_0_phyMii0_TxDat_pin<1> LOC = K17 | IOSTANDARD = LVCMOS33;
NET plb_powerlink_0_phyMii0_TxDat_pin<0> LOC = K18 | IOSTANDARD = LVCMOS33;
NET plb_powerlink_0_phyMii0_RxClk_pin LOC = L15 | IOSTANDARD = LVCMOS33;
NET plb_powerlink_0_phyMii0_RxDv_pin LOC = P17 | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET plb_powerlink_0_phyMii0_RxDat_pin<3> LOC = P18 | IOSTANDARD = LVCMOS33 | PULLUP;
NET plb_powerlink_0_phyMii0_RxDat_pin<2> LOC = N15 | IOSTANDARD = LVCMOS33 | PULLUP;
NET plb_powerlink_0_phyMii0_RxDat_pin<1> LOC = N16 | IOSTANDARD = LVCMOS33 | PULLUP;
NET plb_powerlink_0_phyMii0_RxDat_pin<0> LOC = T17 | IOSTANDARD = LVCMOS33 | PULLUP;
NET plb_powerlink_0_phyMii0_RxEr_pin LOC = N18 | IOSTANDARD = LVCMOS33;
NET plb_powerlink_0_phy_SMIDat_pin LOC = L18 | IOSTANDARD = LVCMOS33;
NET plb_powerlink_0_phy_SMIClk_pin LOC = M16 | IOSTANDARD = LVCMOS33;
NET plb_powerlink_0_phy_Rst_n_pin LOC = T18 | IOSTANDARD = LVCMOS33 | TIG;

################################################################################
## DIRECT I/O
#LED output
Net plb_powerlink_0_pio_portio_pin<0> LOC=P4 | IOSTANDARD = LVCMOS18 | TIG;
Net plb_powerlink_0_pio_portio_pin<1> LOC=L6 | IOSTANDARD = LVCMOS18 | TIG;
Net plb_powerlink_0_pio_portio_pin<2> LOC=F5 | IOSTANDARD = LVCMOS18 | TIG;
Net plb_powerlink_0_pio_portio_pin<3> LOC=C2 | IOSTANDARD = LVCMOS18 | TIG;

### Connector J5
NET plb_powerlink_0_pio_portio_pin<8> LOC = F15 | IOSTANDARD = LVCMOS33 | TIG; # "PMOD1_P1"
NET plb_powerlink_0_pio_portio_pin<9> LOC = F16 | IOSTANDARD = LVCMOS33 | TIG; # "PMOD1_P2"
NET plb_powerlink_0_pio_portio_pin<10> LOC = C17 | IOSTANDARD = LVCMOS33 | TIG; # "PMOD1_P3"
NET plb_powerlink_0_pio_portio_pin<11> LOC = C18 | IOSTANDARD = LVCMOS33 | TIG; # "PMOD1_P4"
NET plb_powerlink_0_pio_portio_pin<12> LOC = F14 | IOSTANDARD = LVCMOS33 | TIG; # "PMOD1_P7"
NET plb_powerlink_0_pio_portio_pin<13> LOC = G14 | IOSTANDARD = LVCMOS33 | TIG; # "PMOD1_P8"
NET plb_powerlink_0_pio_portio_pin<14> LOC = D17 | IOSTANDARD = LVCMOS33 | TIG; # "PMOD1_P9"
NET plb_powerlink_0_pio_portio_pin<15> LOC = D18 | IOSTANDARD = LVCMOS33 | TIG; # "PMOD1_P10"
### Connector J4
NET plb_powerlink_0_pio_portio_pin<16> LOC = H12 | IOSTANDARD = LVCMOS33 | TIG; # "PMOD2_P1"
NET plb_powerlink_0_pio_portio_pin<17> LOC = G13 | IOSTANDARD = LVCMOS33 | TIG; # "PMOD2_P2"
NET plb_powerlink_0_pio_portio_pin<18> LOC = E16 | IOSTANDARD = LVCMOS33 | TIG; # "PMOD2_P3"
NET plb_powerlink_0_pio_portio_pin<19> LOC = E18 | IOSTANDARD = LVCMOS33 | TIG; # "PMOD2_P4"
NET plb_powerlink_0_pio_portio_pin<20> LOC = K12 | IOSTANDARD = LVCMOS33 | TIG; # "PMOD2_P7"
NET plb_powerlink_0_pio_portio_pin<21> LOC = K13 | IOSTANDARD = LVCMOS33 | TIG; # "PMOD2_P8"
NET plb_powerlink_0_pio_portio_pin<22> LOC = F17 | IOSTANDARD = LVCMOS33 | TIG; # "PMOD2_P9"
NET plb_powerlink_0_pio_portio_pin<23> LOC = F18 | IOSTANDARD = LVCMOS33 | TIG; # "PMOD2_P10"

## DIRECT I/O
################################################################################

################################################################################
# TIMING CONSTRAINTS
## Clock groups
### PLB and MAC clock
NET "clk_100_0000MHzPLL1" TNM = "PLB_CLK_GRP";
NET "clk_50_0000MHzPLL1" TNM = "MAC_CLK_GRP";

### PHY0 clock
NET "plb_powerlink_0_phyMii0_RxClk_pin" TNM_NET = "PHY0_RXCLK_GRP";
TIMESPEC "TS_RXCLK" = PERIOD "PHY0_RXCLK_GRP" 40 ns HIGH 20 ns;
NET "plb_powerlink_0_phyMii0_TxClk_pin" TNM_NET = "PHY0_TXCLK_GRP";
TIMESPEC "TS_TXCLK" = PERIOD "PHY0_TXCLK_GRP" 40 ns HIGH 20 ns;

#### ICAP clock
NET "clk_4_0000MHz" TNM = "ICAP_CLK_GRP";

### cut path
#### PLB <--> ICAP
TIMESPEC TS_PLB_ICAP_TIG = FROM "PLB_CLK_GRP" TO "ICAP_CLK_GRP" TIG;
TIMESPEC TS_ICAP_PLB_TIG = FROM "ICAP_CLK_GRP" TO "PLB_CLK_GRP" TIG;

### PLB <--> MAC
TIMESPEC TS_PLB_MAC_TIG = FROM "PLB_CLK_GRP" TO "MAC_CLK_GRP" TIG;
TIMESPEC TS_MAC_PLB_TIG = FROM "MAC_CLK_GRP" TO "PLB_CLK_GRP" TIG;

### MAC <--> PHY0
TIMESPEC TS_PLB_PHY0TX_TIG = FROM "MAC_CLK_GRP" TO "PHY0_TXCLK_GRP" TIG;
TIMESPEC TS_PHY0TX_PLB_TIG = FROM "PHY0_TXCLK_GRP" TO "MAC_CLK_GRP" TIG;
TIMESPEC TS_PLB_PHY0RX_TIG = FROM "MAC_CLK_GRP" TO "PHY0_RXCLK_GRP" TIG;
TIMESPEC TS_PHY0RX_PLB_TIG = FROM "PHY0_RXCLK_GRP" TO "MAC_CLK_GRP" TIG;

## I/O
### PHY0
#### T = 40 ns , tco = 10..30 ns => valid window of 10 ns before/after edge
OFFSET = IN 10 ns VALID 10 ns BEFORE "plb_powerlink_0_phyMii0_RxClk_pin";
#### T = 40 ns , tsu = 10 ns , th = 0 => T-tsu ns after edge
OFFSET = OUT 30 ns AFTER "plb_powerlink_0_phyMii0_TxClk_pin";
################################################################################
